@tailwind base;
@tailwind components;
@tailwind utilities;


.margin-custom {
    margin-top: 15px !important;
}

.custrmr {
    margin-right: 10px !important;
    margin-top: 10px !important;
    background-color: #154fa1;
}

.cstmd {
    background-color: #154fa1;
    margin-top: 10px !important;
}